---
azurePipelinesBadgeURL: https://dev.azure.com/sounisi5011/npm%20projects/_apis/build/status/sounisi5011.object-rollback?branchName=master
azurePipelinesPageURL: https://dev.azure.com/sounisi5011/npm%20projects/_build/latest?definitionId=6&branchName=master
codeclimateBadgeURL: https://api.codeclimate.com/v1/badges/12a68b5e4ba161dbd457/maintainability
---

# {{{pkg.name}}}

<!-- [![Go to the latest release page on npm](https://img.shields.io/npm/v/{{{pkg.name}}}.svg)](https://www.npmjs.com/package/{{{pkg.name}}}) -->
[![License: {{{pkg.license}}}](https://img.shields.io/static/v1?label=license&message={{#encURL}} {{{pkg.license}}} {{/encURL}}&color=green)]({{{githubFileRoot}}}/LICENSE)
![Supported Node.js version: {{{pkg.engines.node}}}](https://img.shields.io/static/v1?label=node&message={{#encURL}} {{{pkg.engines.node}}} {{/encURL}}&color=brightgreen)
![Type Definitions: TypeScript](https://img.shields.io/static/v1?label=types&message=TypeScript&color=blue)
<!-- [![install size](https://packagephobia.now.sh/badge?p={{{pkg.name}}}@{{{pkg.version}}})](https://packagephobia.now.sh/result?p={{{pkg.name}}}@{{{pkg.version}}}) -->
[![Dependencies Status](https://david-dm.org/sounisi5011/{{{pkg.name}}}/status.svg)](https://david-dm.org/sounisi5011/{{{pkg.name}}})
[![Build Status]({{{azurePipelinesBadgeURL}}})]({{{azurePipelinesPageURL}}})
[![Maintainability Status]({{{codeclimateBadgeURL}}})](https://codeclimate.com/github/sounisi5011/{{{pkg.name}}}/maintainability)

Cancel changes to JavaScript object values (add/update/delete properties, add item into [Map]/[Set], etc.)

[Map]: https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Map
[Set]: https://developer.mozilla.org/docs/Web/JavaScript/Reference/Global_Objects/Set

## Install

```sh
npm install github:sounisi5011/{{{pkg.name}}}
```

## Usage

```js
const { ObjectState } = require('{{{pkg.name}}}');

const someValue = {
  a: 1,
  b: 2,
  c: [ 1, 2, 3 ],
};

console.log(someValue); // { a: 1, b: 2, c: [ 1, 2, 3 ] }

const state = new ObjectState();
state.set(someValue);

someValue.b = 200;
someValue.x = 42;
someValue.c.push(9);

console.log(someValue); // { a: 1, b: 200, c: [ 1, 2, 3, 9 ], x: 42 }

state.rollback(someValue);

console.log(someValue); // { a: 1, b: 2, c: [ 1, 2, 3 ] }
```

## Tests

To run the test suite, first install the dependencies, then run `npm test`:

```sh
npm install
npm test
```

## Contributing

see [CONTRIBUTING.md](https://github.com/sounisi5011/{{{pkg.name}}}/blob/master/CONTRIBUTING.md)
